
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}

{% endblock styles %}
{% block topBody %}

    <div class="row">
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
    <h1 style="text-align: center;">Register user</h1>
        {% if form.errors.items %}
                <div class="alert alert-danger form-errors">

                    {% for field, error in form.errors.items %}
                        {% if field != '__all__' %}{% endif %}
                        {{ error | striptags }}
                    {% endfor %}

                </div>
            {% endif %}
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

    <form method="POST">
        {% csrf_token %}
{#        {{ form }}#}
        <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="rate">Username</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.username }}
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
        </div>
        <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="rate">First Name</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.first_name }}
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
        </div>
        <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="rate">Last Name</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.last_name }}
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
        </div>

        <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="rate">Email</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.email }}
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
        </div>
        <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="rate">Confirm Email</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.email2 }}
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
        </div>
         <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="rate">Password</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.password }}
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
        </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 "></div>

                    <div class="col-sm-6">
                        <input id="submit" type="submit" value="Submit" class="btn btn-outline-primary"/>
                        <a class="btn btn-outline-danger" href="{% url 'index' %}">Cancel </a>
{#                        <button id="cancel" type="button" value="submit" name="cancel" class="btn btn-outline-danger"#}
{#                                onclick="window.location.href='{% url 'user_hedges' id=userID round_id=roundID %}'"/>#}

                    </div>
                    <div class="col-sm-3"></div>

                </div>
            </div>
    </form>

    </div>
    <div class="col-sm-3">&nbsp;</div>
    </div>

{% endblock %}

{% block lowerBody %}{% endblock lowerBody %}

{% block scripts %}{% endblock scripts %}
