
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}

{% endblock styles %}
{% block topBody %}
        <h1>Edit Profile</h1>

        <form action='' method="post">
            {% csrf_token %}
                    {{ form }}

            <input id="submit" type="submit" value="Update Profile" class="btn btn-outline-primary"/>
        </form>
            <a href='{% url "index" %}' class="btn btn-outline-primary" ><span class="glyphicon glyphicon-home"></span>Cancel</a>


{% endblock %}

{% block lowerBody %}{% endblock lowerBody %}

{% block scripts %}{% endblock scripts %}
