
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}

{% endblock styles %}
{% block topBody %}

     <div class="container">
        <div class="row">

            <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>

                <h2>About Us</h2>

                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>


                <p style="text-align: justify;">
                    SLV Brahmins Matrimonial Services - a unique matrimonial portal in existence since last year, has been established with the sole objective of serving and assisting the Brahmins Community in their search for suitable brides/bridegrooms of their choice.
                </p>
                <p style="text-align: justify;">
                To achieve this aim, we have tried to provide a simple & single platform, containing the relevant details of prospective brides/bridegrooms, covering all sub-castes of Brahmin's community.
                </p>
                <p style="text-align: justify;">
                    Thus, they will have ample opportunity & choice, to go through the entire gamut of data provided by us, at an affordable fees structure.  We earnestly hope, that this forum will be extremely helpful to our community -especially, in these hard days to find a suitable match of their choice.
                </p>
            <div class="col-sm-3">

            </div>
        </div>
    </div>



{% endblock %}

{% block lowerBody %}{% endblock lowerBody %}

{% block scripts %}{% endblock scripts %}


