
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}
<link href="static/css/custom_style.css" rel="stylesheet">
{% endblock styles %}
{% block topBody %}

    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-8 info-box menu-heading block-background">
            <h2>Contact Information</h2>
            <br><br>
            <table class="table-alignment">
{#              <tr>#}
{#                <th>Company</th>#}
{#                <th>Contact</th>#}
{#                <th>Country</th>#}
{#              </tr>#}
              <tr>
                  <td>Administrator</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td> <b>Nayana Bharadwaj </b></td>
              </tr>
              <tr>
                <td>Mobile No</td>
                  <td>&nbsp;</td>
                    <td>&nbsp;</td>
                <td><b>9972828866</b><br><b>6361350490</b>
                </td>
              </tr>
                <tr>
                  <td>Email</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                                  <td> <b>dayanandkarthini@gmail.com  </b></td>
              </tr>

            </table>
            <br/>
            <br/>

        </div>
        <div class="col-sm-2">&nbsp;</div>
    </div>




{% endblock %}

{% block lowerBody %}{% endblock lowerBody %}

{% block scripts %}{% endblock scripts %}
