<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BANK3600 - Simulator">
    <meta name="author" content="Craig Hamilton">
    {% block metatags %} {% endblock %}
    <link rel="icon" href="{% static "formwork/favicon.ico" %}"/>
    <title>{{ APP_NAME }}</title>

    <!-- Bootstrap core CSS -->
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block styles %}{% endblock styles %}
</head>
{% block bodyTag %}
    <body>
{% endblock bodyTag %}
<header>
    <!--  fixed-top -->
{#    <nav class="navbar navbar-expand-md fixed-top bg-sydWhite sydDark">#}
{#    </nav>#}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-sydWhite nav-tab-text-color">
  <a class="navbar-brand" href="{% url 'index' %}"><i
                                    class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about_us' %}">About <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'search_profiles' %}">Search profiles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'how_to_start' %}">How to start? <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create_profile' %}">Create Profile <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us <span class="sr-only">(current)</span></a>
      </li>

{#      <li class="nav-item">#}
{#        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#      </li>#}
    </ul>
    <form class="form-inline my-2 my-lg-0">
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i#}
{#                                    class="fas fa-sign-out-alt"></i>Logout</button>#}
         {% if user.is_authenticated %}
                <button class="btn btn-outline-warning" id="maLogout" type="button"
                                    onclick="window.location.href='{% url "logout" %}'"><i
                                    class="fas fa-sign-out-alt"></i>Logout</button>
         {% else %}
                <button class="btn btn-outline-warning" id="maLogout" type="button"
                                    onclick="window.location.href='{% url "login" %}'"><i
                                    class="fas fa-sign-out-alt"></i>Login</button>
        {% endif %}
    </form>
  </div>
</nav>


</header>

<main role="main" class="col-sm-12">
    <div class="row"></div>
<div class="row"></div>
<div class="row"></div>

    {% block topBody %}{% endblock topBody %}
    {% block middleBody %}{% endblock middleBody %}
    {% block lowerBody %}{% endblock lowerBody %}


    <!-- FOOTER -->
    <footer class="container">
{#        <a href=""><img class=""#}
{#                                                src="{% static '' %}"></a>#}
        <span class="text-muted">Developed by <a href="">Dartion</a></span>
    </footer>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

{% block scripts %}{% endblock scripts %}

</body>
</html>