<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link active" href="{% url 'edit_profile' id=profileID %}">Edit Basic Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"href="{% url 'update_personal_info' id=profileID %}">Edit Personal Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_physical_features' id=profileID %}">Edit Physical Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_education_occupation' id=profileID %}">Edit Education and Occupation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_habbits' id=profileID %}">Edit Habbits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_astrological_info' id=profileID %}">Edit Astrological information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_family_details' id=profileID %}">Edit Family Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_expectations' id=profileID %}">Edit Expectations Details</a>
  </li>

</ul>


