<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link active" href="{% url 'view_profile' id=profileID %}">View Basic Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"href="{% url 'view_personal_info' id=profileID %}">View Personal Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_physical_info' id=profileID  %}">View Physical Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_edu_occ_info' id=profileID %}">View Education and Occupation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_habits'  id=profileID%}">View Habits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_astrological' id=profileID %}">View Astrological information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_family_details' id=profileID %}">View Family Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_expectations' id=profileID %}">View Expectations Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_profile_image' id=profileID %}">View Profile Photo</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'view_horoscope_image' id=profileID %}">View Horoscope Photo</a>
  </li>

</ul>


