
{% extends "generic/layout.html" %}
{% load static %}

{% block styles %}
<link href="static/css/custom_style.css" rel="stylesheet">
{% endblock styles %}
{% block middleBody %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6 login-border" align="center">
        <h2>Reset Password</h2>
            {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success">
                                {{ message|safe }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                {{ message|safe }}
                            </div>
                        {% endif %}

                    {% endfor %}
                {% if form.errors.items %}
                        <div class="alert alert-danger invalidCredentials">

                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                            {% endfor %}

                        </div>
                    {% endif %}
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>

        <form method="POST" id="loginForm" class="login">
        {% csrf_token %}
                {% for field in form %}
                    <span>{{ field.name }}</span>

                    <label class="login-input-field">
                        {{ field }}
                    </label>
                    <br/>
                {% endfor %}
                <div class="row">&nbsp;</div>
                <div class="">
                    <input class="btn btn-outline-primary login-button" value="Reset Password" type="submit"
                           name="submit">
                    <a href='{% url "index" %}' class="btn btn-outline-primary" ><span class="glyphicon glyphicon-home"></span>Home</a>
                </div>

        </form>

    <div class="col-sm-3">

    </div>
  </div>
</div>


{% endblock %}



{% block scripts %}{% endblock scripts %}
