
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}

{% endblock styles %}
{% block topBody %}

{% endblock %}

{% block lowerBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">&nbsp;</div>

                 {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success">
                                {{ message|safe }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                {{ message|safe }}
                            </div>
                        {% endif %}

                    {% endfor %}
                {% if form.errors.items %}
                        <div class="alert alert-danger ">

                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                            {% endfor %}

                        </div>
                    {% endif %}



                <table id="profile-list" class="table table-striped" style="width: 100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>

{% endblock lowerBody %}

{% block scripts %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        console.log("Document loaded")



        var groupTable;
        $(document).ready(function () {
            {#var open_round_url = "{% url '' id=111 %}".replace(/111/, id);#}

            groupTable = $('#profile-list').DataTable({
                "processing": true,
                "deferRender": true,
                "scrollX": true,
                "rowId": 'batchID',
                "bStateSave": true,
                "filter": true,
                {#"status": true,#}
                "paging": true,
                "bAutoWidth": false,
                {#"bInfo": true,#}
                "bSort": true,
                "overflow-y": scroll,
                "scrollCollapse": true,
                "lengthMenu": [[20, 25, 50, -1], [20, 25, 50, "All"]],
                "order": [0, "desc"],
                "responsive": false,
                "language": {
                    "search": "Filter : ",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "_TOTAL_ of _MAX_ groups",
                    "zeroRecords": "No Profiles created in the system.",
                    "loadingRecords": "Loading  ..."
                },
                {#"sDom": '<"top"if>rt<"bottom"><"clear">',#}
                "ajax": {
                    {#"processing": true,#}
                    "url": "{% url 'ajax_get_profile_list' user_id=userID %}",
                    dataSrc: function (json) {
                        console.log(json)
                        {#json = JSON.parse(json['content']);#}
                        return json.data;
                    },
                },
                "columns": [
                    {"data": "first_name", "title": "Name", defaultContent: ""},
                    {"data": "dob", "title": "DOB", defaultContent: ""},
                    {"data": "phone_number", "title": "Phone number", defaultContent: ""},
                    {"data": "id", "title": "Actions", defaultContent: "", render:function (id) {
                        html = ''
                        edit_profile_url = "{% url 'edit_profile' id=111 %}".replace(/111/, id);
                        view_profile_url = "{% url 'view_profile' id=111 %}".replace(/111/, id);
                        html += "<a href=\'"+ edit_profile_url +"\'>Edit / Update Profile</a>"
                        return html
                        }},
                    {% if admin_user %}
                          {"data":function (data){return data;}, "title": "User Status", defaultContent: "", render:function (data) {
                                  html = ""
                                  activate_user_url = "{% url 'activate_user' profileID=111 %}".replace(/111/, data.id);
                                  deactivate_user_url = "{% url 'deactivate_user' profileID=111 %}".replace(/111/, data.id);
                                    console.log(data.is_active)
                                  if (data.is_active == false){
                                      html += "<a href="+ activate_user_url +">Activate</a> "
                                   }
                                  else{
                                      html += "<a href="+ deactivate_user_url +">Deactivate</a> "
                                   }

                                  return html;
                              }
                           },

                    {% endif %}


                ],


            });


        });


    </script>


{% endblock scripts %}
