
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}
<link href="static/css/custom_style.css" rel="stylesheet">
{% endblock styles %}
{% block topBody %}

{% endblock %}

{% block lowerBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">&nbsp;</div>

                 {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success">
                                {{ message|safe }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                {{ message|safe }}
                            </div>
                        {% endif %}

                    {% endfor %}
                {% if form.errors.items %}
                        <div class="alert alert-danger ">

                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                            {% endfor %}

                        </div>
                    {% endif %}

                <h3>Profile List</h3>

                <table id="profile-list" class="table table-striped" style="width: 100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>

{% endblock lowerBody %}

{% block scripts %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" class="init">

     function confirmDelete(id) {
            confirmDelete = confirm("Are you sure you want to delete the profile?")
            if (confirmDelete) {
                var delete_profile_url = "{% url 'delete_profile' profileID=111 %}".replace(/111/, id);
                window.location.href = delete_profile_url

            } else {
                location.reload();
            }

        }

       function confirmSubmit(id) {
            confirmSubmit = confirm("Are you sure you want to submit the application? You cannot make any changes to the application once you click on Ok.")
            if (confirmSubmit) {
                var submit_profile_url = "{% url 'submit_application' id=111 %}".replace(/111/, id);
                window.location.href = submit_profile_url

            } else {
                location.reload();
            }

        }

     function confirmRevoke(id) {
            confirmRevoke = confirm("Are you sure you want to revoke the application? Doing this will let the user to edit and resubmit the application.")
            if (confirmRevoke) {
                var revoke_profile_url = "{% url 'revoke_application' id=111 %}".replace(/111/, id);
                window.location.href = revoke_profile_url

            } else {
                location.reload();
            }

        }



        var groupTable;
        $(document).ready(function () {
            {#var open_round_url = "{% url '' id=111 %}".replace(/111/, id);#}

            groupTable = $('#profile-list').DataTable({
                "processing": true,
                "deferRender": true,
                "scrollX": true,
                "rowId": 'batchID',
                "bStateSave": true,
                "filter": true,
                {#"status": true,#}
                "paging": true,
                "bAutoWidth": false,
                {#"bInfo": true,#}
                "bSort": true,
                "overflow-y": scroll,
                "scrollCollapse": true,
                "lengthMenu": [[20, 25, 50, -1], [20, 25, 50, "All"]],
                "order": [0, "desc"],
                "responsive": false,
                "language": {
                    "search": "Filter : ",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "_TOTAL_ of _MAX_ groups",
                    "zeroRecords": "No Profiles created in the system.",
                    "loadingRecords": "Loading  ..."
                },
                {#"sDom": '<"top"if>rt<"bottom"><"clear">',#}
                "ajax": {
                    {#"processing": true,#}
                    "url": "{% url 'ajax_get_profile_list' user_id=userID %}",
                    dataSrc: function (json) {
                        console.log(json)
                        {#json = JSON.parse(json['content']);#}
                        return json.data;
                    },
                },
                "columns": [
                    {"data": "first_name", "title": "Name", defaultContent: ""},
                    {"data": "dob", "title": "DOB", defaultContent: ""},
                    {"data": "phone_number", "title": "Phone number", defaultContent: ""},
                    {"data": function(data){return data;}, "title": "Actions", defaultContent: "", render:function (data) {
                        html = ''
                        edit_profile_url = "{% url 'edit_profile' id=111 %}".replace(/111/, data.id);
                        view_profile_url = "{% url 'view_profile' id=111 %}".replace(/111/, data.id);
                        if (data.submit == false){
                            html += "<a class='btn btn-outline-warning edit-view-delete-buttons' href=\'"+ edit_profile_url +"\'>Edit Profile</a>"
                        }
                        html += "   "
                        html += "<a class='btn btn-outline-primary edit-view-delete-buttons' href=\'"+ view_profile_url +"\'>View Profile</a>"
                        html += "   "
                        {% if admin_user %}
                        html += "<ahref class='btn btn-outline-danger edit-view-delete-buttons' style='font-size:small; width: 9em;'" +
                            " href='#' onClick='confirmDelete("+ data.id+ ")'>Delete Profile</ahref>"
                        {% endif %}
                        return html
                        }},
                        {"data": function(data){return data;}, "title": "Profile Status", defaultContent: "", render: function(data){
                            html =""

                                if (data.submit == true){
                                    {% if admin_user == False %}
                                    if (data.is_active == false){
                                    html += ""
                                    html += "<span class='badge badge-warning'>Submitted</span>"
                                    html += "<br/>"
                                    html += "To make this profile appear in Search Profile list<br/><br/>"
                                    html += "Please Pay Registration Fees To :<br/><br/>" +
                                        "Name : <b>Karthini M D</b><br/>" +
                                        "Bank: <b>State Bank of India - Bogadi branch</b><br/>" +
                                        "        A/c no :  <b>6402538939</b> <br/>" +
                                        "    IFSC code :  <b>SBIN0041117</b>"

                                    }
                                    else{

                                        html+="<span class='badge badge-success'>Active</span>"
                                        html+="<br/><br/>"
                                        html+="To delete/inactivate profile please contact administrator.<br/>"
                                        html+="(Contact details can be found <a href={% url 'contact_us' %}>here</a>)"
                                    }
                                    {% endif %}
                                    {% if admin_user %}
                                        html += "<ahref class='btn btn-outline-danger activate-deactivate-button 'style='font-size:small; width: 9em;'" +
                            " href='#' onClick='confirmRevoke("+ data.id+ ")'>Revoke Profile</ahref>"
                                    {% endif %}

                                }
                                else if ( data.submit == false){

                                    html += "<ahref class='btn btn-outline-success activate-deactivate-button 'style='font-size:small; width: 9em;'" +
                            " href='#' onClick='confirmSubmit("+ data.id+ ")'>Submit Profile</ahref>"

                                }

                                return html;
                            }},

                    {% if admin_user %}
                          {"data":function (data){return data;}, "title": "Profile Status", defaultContent: "", render:function (data) {
                                  html = ""
                                  activate_user_url = "{% url 'activate_user' profileID=111 %}".replace(/111/, data.id);
                                  deactivate_user_url = "{% url 'deactivate_user' profileID=111 %}".replace(/111/, data.id);
                                  delete_profile_url = "{% url 'delete_profile' profileID=111 %}".replace(/111/, data.id);
                                    console.log(data.is_active)
                                  if (data.is_active == false){
                                      html += "<a class='btn btn-primary activate-deactivate-button'href="+ activate_user_url +">Activate</a> "
                                   }
                                  else{
                                      html += "<a class='btn btn-danger activate-deactivate-button' href="+ deactivate_user_url +">Deactivate</a> "
                                   }

                                  return html;
                              }
                           },

                    {% endif %}


                ],


            });


        });


    </script>


{% endblock scripts %}
