.login-button{
    width:80%;
}
.register-now-button{
    text-align: center;
}
.login-border{
    border: 2px solid lightgrey;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media screen and (max-width: 550px){
.ml-auto, .mx-auto {
    float: right;
    margin: 0;
    position: inherit;
    display: block !important;
    }
}

.edit-view-delete-buttons{
    font-size:small;
    width: 9em;
    color:#000000;
    margin-top: 0.5em;
}
.activate-deactivate-button{
    font-size: small;
    width: 6.5em;
}

.menu-heading{
    text-align: center;
}

.info-box{
    border: 1px solid gray;
}
.table-alignment{
    margin: auto;
    text-align: left;
}