.login-button{
    width:80%;
}
.register-now-button{
    text-align: center;
}
.login-border{
    border: 2px solid lightgrey;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media screen and (max-width: 550px){
.ml-auto, .mx-auto {
    float: right;
    margin: 0;
    position: inherit;
    display: block !important;
    }
}