
{% extends "generic/layout.html" %}
{% load static %}
{% block styles %}

{% endblock styles %}
{% block topBody %}


        <h1>Astrological Information</h1>

        <form action='' method="post">
            {% csrf_token %}
                    {{ form }}

            <input id="submit" type="submit" value="Update Astrological Information" class="btn btn-outline-primary"/>
        </form>



{% endblock %}

{% block lowerBody %}{% endblock lowerBody %}

{% block scripts %}{% endblock scripts %}
